.profile {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;

}

@media screen and (max-width: 879px) {
  .profile {
    max-width: calc(100% - 38px);
    margin: 0 auto;
  }
}

@media  screen and (max-width: 720px){
  .profile {
    flex-direction: column;
    gap: 26px;
  }
}