.profile__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

@media  screen and (max-width: 700px){
  .profile__box {
    /* padding-left: 16.32%; */
    gap: 10px;
  }
}