@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/active/active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile_);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__box/profile__box.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__redact-button/profile__redact-button.css);
@import url(../blocks/profile/__image-pencil/profile__image-pencil.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__image-button/profile__image-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__box/element__box.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-count/element__like-count.css);
@import url(../blocks/element/__like-button/_active/element__like-button_active.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/footer__copyrigth.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__box-container/popup__box-container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form/_type/popup__form_type_error.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__subtitle/popup__figcaption.css);
@import url(../blocks/popup/__close/popupImage__close.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__form-error/popup__form-error.css);
@import url(../blocks/popup/__save-button/_disable/popup__save-button_disable.css);





/* .element__container {
  display: flex;
  flex-direction: column;
  gap: 3px;
} 

.element__like-count {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.popup__box-container {
  width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 37px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #FFFFFF;
} 

@media screen and (max-width: 550px) {
  .popup__box-container {
    width: 282px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
} 


 .profile__container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.profile__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../src/images/Profile-redact.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px, 26px, cover;
  background-color: rgba(0, 0, 0, 0.8 );
  opacity: 0;
  transition: opacity 0.3s linear;
}

.profile__container:hover::after {
  opacity: 1;
} */











