@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/active/active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__box/profile__box.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__redact-button/profile__redact-button.css);
@import url(../blocks/profile/__image-pencil/profile__image-pencil.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__image-button/profile__image-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__box/element__box.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_active/element__like-button_active.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/footer__copyrigth.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form/_type/popup__form_type_error.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__subtitle/popup__figcaption.css);
@import url(../blocks/popup/__close/popupImage__close.css);
@import url(../blocks/popup/_opened/popup_opened.css);





.popup__form-error  {
  margin: 0;
  padding-top: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  position: absolute;
}


.popup__save-button_disable {
  width: 358px;
  height: 50px;
  margin-top: 18px;
  padding: 0;
  cursor: auto;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21.78px;
  border: 1px solid rgba(0, 0, 0, 0.2);;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.2);
}


















