@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/active/active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__box/profile__box.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__pencil/profile__pencil.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__box/element__box.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_invisible/element__like_invisible.css);
@import url(../blocks/element/__pseudo-like/element__pseudo-like.css);

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.footer__copyrigth {
  margin: 0 auto;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 21.78px;
  color: #545454;
}

