@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/active/active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__box/profile__box.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__pencil/profile__pencil.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__box/element__box.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_invisible/element__like_invisible.css);
@import url(../blocks/element/__pseudo-like/element__pseudo-like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/footer__copyrigth.css);


.popup {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: rgb(0%, 0%, 0%, .5);
}

.popup__container {
  width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 37px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* background-color: black; */
  background-color: #FFFFFF;
}

.popup__main-container {
  width: 358px;
  margin: 0 auto;
}

.popup__heading {
  margin: 0;
  padding-bottom: 54px;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 29.05px;
  color: #000000;
}

.popup__input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 400;
  font-size: .875rem;
  line-height: 16.94px;
}

.popup__form {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  height: 27px;
  border: 0;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 0.2);
  font-family: inherit;
  padding: 0;
}

.popup__form::placeholder {
 color: #000000;
}
.popup__form:focus {
  outline-color: rgb(0%, 0%, 0%, 0.5);
  scale: 1.02;
  transition: .2s linear;
 }


.popup__save-button {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 21.78px;
  color: #FFFFFF;
}

.popup__save-button:hover {
  opacity: .8;
  border-radius: 2px;
}

.popup__save-button:focus {
  opacity: 1;
  border-radius: 2px;
  scale: .99;
  transition: .2s;
}

.popup__save-button[type="submit"] {
  background-color: #000000;
}

.popup__close-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(40px, -48px);
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: .6;
  transition: .2s linear;
}

