.profile__info {
  max-width: 65.91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

@media  screen and (max-width: 700px){
  .profile__info {
    max-width: 88.13%;
    margin: 0 auto;
    text-align: center;
    gap: 14px;
    margin-bottom: 10px;
  }
}